site_name: TermCap Documentation
site_url: https://termcap.wzhecnu.cn
repo_url: https://github.com/rexwzh/termcap
repo_name: TermCap
edit_uri: edit/master/docs/

theme:
  name: material
  palette:
    primary: teal
    accent: purple
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.instant
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate

plugins:
  - search:
      lang: zh
  - minify:
      minify_html: true
  - i18n:
      docs_structure: suffix
      languages:
        - locale: zh
          name: 简体中文
          default: true
        - locale: en
          name: English

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.highlight:
      use_pygments: true
      pygments_style: friendly
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - def_list
  - attr_list
  - md_in_html

nav:
  - 首页: index.md
  - 示例: examples/index.md
  - 模板: templates.md
  - 手册:
    - TermCap: manual/termcap.md
    - 模板: manual/termcap-templates.md
